<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imgs/icon.jpg') }}" type="image">
    <title>HPA* Project</title>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="row">
                <!-- 1st Column -->
                <div class="col-md-1 bg-light mt-4 p-2 rounded-start">
                    <div class="custom-control custom-switch mt-3">
                        <input type="checkbox" class="custom-control-input" id="toggleButton">
                        <label class="custom-control-label" for="toggleButton">HPA*</label>
                    </div>
                </div>

                <div class="col-md-4 bg-light mt-4 p-2 rounded-end">
                    <div class="col-md-10 bg-light">
                        <!-- Slider and value display in the same container -->
                        <div class="form-group slider-container d-flex align-items-center">
                            <div class="col-md-5">Grid size:</div> 
                            <input type="range" class="form-control-range flex-grow-1 mt-1" id="slider" min="0" max="50">
                            <!-- Display the last slider value next to the slider -->
                            <div class="slider-value ml-2 mt-3 col-md-1">
                                <p><span id="lastSliderValue">25</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- 2nd Column -->
                <div class="col-md-12 bg-light mt-4 p-2 rounded">
                    <div id="gameButtons"></div>
                </div>
            </div>
        </div>
    
        <div class="container mt-3">
            <div class="row justify-content-md-center">
                <div class="bg-light p-4">
                    <div class="image-container">
                        <img class="img-fluid" id="image-element" src="{{ url_for('maps', filename='lol-map.png') }}", alt="Hi mom">
                        <!-- Points and line -->
                        <div id="startPoint" class="point green-point"></div>
                        <div id="endPoint" class="point red-point"></div>
                    </div>
                    
                </div>
            </div>
        </div>    
    </div>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='app.js') }}" defer></script>
</body>
</html>

